*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.home, .create, .update{
    width: 60%;
    padding:2rem;
    margin: auto;
}
.home h1, .create h2,
.update h2{
    text-align: center;
}
.home table{
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 16px black;
}
.create-btn{
    padding:0.5rem 1rem;
    font-weight: bold;
    background-color:greenyellow;
    border: 1px solid rgb(0, 95, 0);
    border-radius:8px;
}
.create-btn:hover{
    box-shadow: 0 0 8px green;
}
.edit-btn{
    padding:0.2rem 0.4rem;
    border-radius:4px;
    border: 1px solid orange;
    background-color:transparent;
    margin-right:0.5rem;
}
.delete-btn{
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    border: 1px solid red;
    background-color: transparent;
}
.create form, .update form{
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 16px black;
    width: 70%;
    margin:auto;
}
.btn{
    padding:0.5rem 0.8rem;
    border-radius: 10px;
    background-color: transparent;
}
.back{
    border: 2px solid blue;
}
.back:hover{
    background-color:rgb(188, 244, 255);
}
.submit{
    border: 2px solid greenyellow;
    margin-left: 0.5rem;
}
.submit:hover{
    background-color:rgb(205, 255, 131)
}
.edit-btn:hover{
    background-color:rgb(255, 215, 142);
}
.delete-btn:hover{
    background-color:rgb(255, 173, 173);
}